<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="d-flex">
                <a class="navbar-brand" sec:authorize="!hasAnyRole('ADMIN','STAFF')" th:href="@{/}">Главная</a>
                <a class="navbar-brand" sec:authorize="!hasAnyRole('ADMIN','STAFF')" th:href="@{/catalogue}">Каталог</a>
                <a class="navbar-brand" sec:authorize="!hasAnyRole('ADMIN','STAFF')" th:href="@{/cart}">Корзина</a>
                <a class="navbar-brand" sec:authorize="hasRole('ADMIN')" th:href="@{/tiles}">Плитка</a>
                <a class="navbar-brand" sec:authorize="hasRole('ADMIN')" th:href="@{/tile-categories}">Категории</a>
                <a class="navbar-brand" sec:authorize="!hasAnyRole('ADMIN','STAFF')" th:href="@{/orders}">Заказы</a>
                <a class="navbar-brand" sec:authorize="hasAnyRole('ADMIN','STAFF')" th:href="@{/orders/admin}">Заказы</a>
                <a class="navbar-brand" sec:authorize="!isAuthenticated()" th:href="@{/auth/login}">Вход</a>
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">Выход</a>
            </div>
        </div>
    </nav>
</header>
<form id="logout-form" th:action="@{/auth/logout}" method="post" style="display: none;">
    <input type="submit">
</form>
</body>
</html>
