<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список плиток</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{header.html :: header}"></div>
<div class="container mt-4">
    <h1 class="text-center mb-4">Список плиток</h1>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Материал</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tile : ${tiles}">
            <td th:text="${tile.id}">1</td>
            <td th:text="${tile.name}">Название плитки</td>
            <td th:text="${tile.price}">100.00</td>
            <td th:text="${tile.material}">Керамика</td>
            <td th:text="${tile.tileCategoryDTO.name}">Категория</td>
            <td th:text="${tile.description}">Описание плитки</td>
            <td>
                <a th:href="@{/tiles/update/{id}(id=${tile.id})}" class="btn btn-primary btn-sm">Изменить</a>
                <a th:href="@{/tiles/delete/{id}(id=${tile.id})}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-4">
        <a th:href="@{/tiles/create}" class="btn btn-success">Создать плитку</a>
    </div>
</div>
</body>
</html>
